#header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent-index-header-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#create-chore-modal-button {
    margin-right: 20px;
}

#button-demo {
    background-color: rgba(73, 226, 27, 0.925);
}

#or {
    font-size: 32px;
    text-align: center;
}