.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 50%;
  z-index: 200;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.close-modal-button {
  background: transparent;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  outline: none;
  border: none;
  transform: scale(2.0);
  transition: 0.4s;
  display: block;
  float: right;
}

.close-modal-button:hover { 
  transform: scale(2.5);
  transition: 0.4s;
}

.fix-padding {
  padding: 24px;
}