.chore-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown-kids {
    width: 100%;
}

.dropdown-kids-container {
    margin-bottom: 10px;
}