/* COLOR SCHEME
#F78733 - orange
#FC4A1A - dark orange
#4ABDAC - teal
#DFDCE3 - light gray
#FEDCD2 - light pink */

.splash-body {
    background-color: #DFDCE3;
    width: 100%;
    height: 100%;
}

.splash-nav-container {
    font-family: 'Gloria Hallelujah', cursive;
    height: 115px;
    width: 100%;
    position: fixed;
    background: #4ABDAC;
    opacity: 0.7;
    z-index: 20;
    box-shadow: 0px 5px 5px white;
}

.splash-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 10px 40px;
}

.logo-container {
    width: 20%
}

.splash-nav-title {
    display: block;
    text-align: center;
    color: white;
    width: 60%;
}

.splash-nav h1 {
    font-size: 56px;
    font-weight: bolder;
    text-shadow: 4px 4px 10px #F78733;
    opacity: 1;
}

/* .splsh-nav h3 {

} */

.splash-logo {
    width: 100px;
    height: 100px;
}

.splash-nav-links-container {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.splash-nav-link {
    margin: 5px;
    background: whitesmoke;
    border: 1px solid #DFDCE3;
    padding: 2px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
    outline: none;
}

.splash-nav-link:hover {
    background: #F78733;
    color: white;
}

.splash-container {
    padding: 50px;
    display: grid;
    padding-top: 140px;
}

.splash-background-photo {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.5s;
}

.splash-background-photo:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.splash-info-container {
    height: auto;
    width: auto;
}

.splash-info-container img {
    margin: 0 12px;
}

.p-container {
    display: flex;
    vertical-align: middle;
}

.splash-info-box {
    background: white;
    height: 50%;
    width: 80%;
    margin: auto;
}

.p-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    text-align: center;
}

@media (max-width: 1150px) {
    .p-container p {
        font-size: 27px;
    }
}

@media (max-width: 664px) {
    .splash-nav-container {
        height: 70px;
    }

    .splash-nav-title h1 {
        font-size: 16px;
    }

    .splash-nav h3 {
        font-size: 10px;
    }

    .p-container p {
        font-size: 12px;
    }

    .splash-nav-link {
        font-size: 10px;
    }
}